.header {
  background-color: #36636d;
  background-image: url(../../images/home-cats.jpg);
  background-repeat: no-repeat;
  background-size: 100vw, auto;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f1f2eb;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin-bottom: 5vh;
}

.header h1 {
  color: #b1740f;
  font-size: 100px;
  margin: 2vh;
  font-family: 'Roboto', sans-serif;
}
