.App {
  text-align: center;
}

.App-header {
  background-color: #36636d;
  background-image: url(../src/assets/img/logo.jpg);
  background-repeat: no-repeat;
  background-size: 100vw, auto;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f1f2eb;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

.App-header h1 {
  color: #b1740f;
  font-size: 100px;
  margin: 2vh;
  font-family: 'Montserrat', sans-serif;
}

.App-link {
  color: #f1f2eb;
}

