@import 'colors';

.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  height: 50px;
}

.form-style input {
  border: 1px solid $primary;
  border-radius: 0;
}

.form-style input:focus {
  border: 1px solid $primary;
  box-shadow: none;
  outline: 0;
  background-color: #ebebeb;
}
